<div class="main">
  <h1>{{ componentTitle }}</h1>
  <label for="addItemInput">IEEEF</label>

  <input
  #newItem
  placeholder="add an item"
  (keyup.enter)="addItem({ description: newItem.value, done: false }); newItem.value = ''"
  class="lg-text-input"
  id="addItemInput" />


 <!-- <button class="btn-primary" (click)="addItem(newItem.value)">Add</button> -->
 <button class="btn-primary" (click)="addItem({ description: newItem.value, done: false }); newItem.value = ''">Add</button>
 <!-- <button class="blinking-button" [hidden]="!isBlinking" (click)="toggleBlinking()">Click Me</button> -->

<!-- <button class="btn-primary" (click)="addItem(newItemInput.value); newItemInput.value = ''">Add</button> -->

 <!-- Buttons that show all, still to do, or done items on click  -->
<div class="btn-wrapper">
  <button
    class="btn btn-menu"
    [class.active]="filter == 'all'"
    (click)="filter = 'all'">
    All
  </button> 
  

  <button (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">Press</button>{{greeting}}

  <button
    class="btn btn-menu"  
    [class.active]="filter == 'active'"
    (click)="filter = 'active'">
    To Do
  </button>

  <button
    class="btn btn-menu"
    [class.active]="filter == 'done'"
    (click)="filter = 'done'">
    Done
  </button>
  <button class="btn-primary" (click)="addItem({ description: newItem.value, done: false }); newItem.value = ''">Done</button>

<button class="btn-primary blinking-cut-button" (click)="cutItem()">fix</button>

  
  <!-- Like icon with counter -->
<div class="like-icon" style="color: blue;" (click)="increaseLikes()">
  <i class="fas fa-thumbs-up"></i>
  <span class="like-counter">{{ likeCount }}</span>
</div>

  <!-- Dislike icon with counter -->
<div class="icon-wrapper" style="color: red;" (click)="decreaseLikes()">
  <i class="fas fa-thumbs-down"></i>
</div>

</div>

<!-- <h2>{{items.length}} item(s)</h2>
         <ul>... -->



<h2>
  {{items.length}}
  <span *ngIf="items.length === 1; else elseBlock">item</span>
  <ng-template #elseBlock>items</ng-template>
</h2>

<ul>
  <li *ngFor="let i of items">
    <app-item (remove)="remove(i)" [item]="i"></app-item>
  </li>
</ul>

</div>

<!-- Assuming you've included Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
